$main-margin: 10px;

// :host {
//   width: 400px;
//   height: 250px;
// }

.example-card {
  margin: $main-margin;
}

.example-header-image {
  background-size: cover;
}


@media only screen and (max-width: 600px) {
  .example-card {
    width: 100%;
  }
}

@media (min-width: 601px) and (max-width: 999px) {
  .example-card {
    width: 50%
  }
}

@media (min-width: 1000px) and (max-width: 2000px) {
  .example-card {
     width: 400px;
     height: 250px;
  }
}
